@import './components/helper.scss';
@import './components/navbar.scss';
@import './components/color.scss';
#root{
  overflow: hidden;
}

.parallaxChildren {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  padding: 10px;


}

.img-fluid{
  width: 100%;
}
.text-h1-res{
  text-align: center
  }
@media only screen and (max-width: 600px) {
.btn-primary{
  font-size: 1rem;
}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .btn-primary{
    font-size: 1rem;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .text-h1-res{
    font-size: 6rem;
    text-align: center;
  }
  .text-h3-res{
    font-size: 3rem
  }

}
.no-padding {
  padding: 0 !important;
}