@import "@forcin/assets/scss/components/variables.scss";
.customNavBar {
  position: absolute;
  width: 100%;
  top: 0;
  background-color: #00000030 !important;
  z-index: 50;
  .nav-link {
    cursor: pointer;
    color: #ffffff;
    font-weight: 300;
    font-style: normal;
    font-size: 14px;
    line-height: 17px;
    font-family: "__Quicksand_5";
    .underline {
      width: 100%;
      height: 2px;
      background-color: $color-primary;
      display: none;
    }

    &:hover {
      color: $color-primary !important;

      .underline {
        display: block;
      }
    }
    &.active {
      color: $color-primary !important;

      .underline {
        display: block;
      }
    }
  }
  .navbar-brand {
    color: #ffffff;
  }
  .plain-img {
    background-color: transparent !important;
    border: 1px solid transparent;
    height: 60px;
    width: 60px;
  }
}
