@import "./variables.scss";
.text-color-white {
  color: $color-text-white;
}
.text-color-title {
  color: $color-text-title;
}
.text-color-peach-white {
  color: #cec8c8;
}
.form-control {
  &.custom-input {
    border-color: $color-text-title;
    border-width: 2px;
  }
}

.btn-primary {
  background-color: $color-primary;
  color: $color-secondary;
  font-size: 1.3vw;
  border-color: $color-primary;
  &:hover {
    background-color: $color-hover-primary;
    border-color: $color-primary;
    color: $color-primary;
  }
}
