
.hvr-underline-from-left {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    overflow: hidden;
  }
  .hvr-underline-from-left:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: #FFFF00;
    height: 2px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
    right: 0;
  }

  .scrollbar { height:768px; }
  ::-webkit-scrollbar { width:7px; }
  ::-webkit-scrollbar-thumb { border-radius:10px; background-color:#b3b3b3; border:1px solid #ffffff; }
  ::-webkit-scrollbar-track { border-radius:10px; background-color:#ffffff;  }

  .hamburger {
    padding: 5px 5px;
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, -webkit-filter;
    transition-property: opacity, filter;
    transition-property: opacity, filter, -webkit-filter;
    transition-duration: 0.5s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    background-color: transparent;
    text-transform: none;
    border: 0;
    border-radius: 0px;
    margin: 0;
    overflow: visible; }

  .hamburger:hover {
      opacity: 0.7;
    }

  .hamburger-box {
    width: 30px;
    height: 24px;
    display: inline-block;
    position: relative; }

  .hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -2px; }

  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
      width: 30px;
      height: 2px;
      background-color: #ffffff;
      border-radius: 10px;
      position: absolute;
      transition-property: -webkit-transform;
      transition-property: transform;
      transition-property: transform, -webkit-transform;
      transition-duration: 0.5s;
      transition-timing-function: ease;
      }
  .hamburger-inner::before, .hamburger-inner::after {
      content: "";
      display: block; }
  .hamburger-inner::before {
      top: -10px; }
  .hamburger-inner::after {
      bottom: -10px; }
  #u1060*{
  transform-origin: initial!important;
  }

  .plus {
    position: relative;
    overflow: hidden;
    margin: 0px;
    width: 100%px;
    height: 279px;
    color: #000000;
    text-align: left;
    background: #FFFFFF;
  }

  .plus *,
  .plus:before,
  .plus:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }

  .plus img {
    backface-visibility: hidden;
    vertical-align: top;
  display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .plus:before,
  .plus:after {
    content: '';
    background-color: #000000;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .plus:before {
    width: 300px;
    height: 2px;
  }

  .plus:after {
    height: 300px;
    width: 2px;
  }

  .plus figcaption {
    position: absolute;
    left: 0;
    bottom: 0;
  }

  .plus h3 {
    font-weight: 400;
    padding: 8px 15px;
    margin: 0;
    opacity: 0;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }

  .plus a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }

  .plus:hover img,
  .plus.hover img {
    zoom: 1;
    filter: alpha(opacity=25);
    -webkit-opacity: 0.25;
    opacity: 0.25;
  }

  .plus:hover:before,
  .plus.hover:before,
  .plus:hover:after,
  .plus.hover:after {
    opacity: 1;
  }

  .plus:hover:before,
  .plus.hover:before {
    width: 50px;
  }

  .plus:hover:after,
  .plus.hover:after {
    height: 50px;
  }

  .plus:hover h3,
  .plus.hover h3 {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
    opacity: 1;
  }
  .hvr-icon-wobble-horizontal:before {
    content: "\f178";
    }
    .hvr-icon-wobble-horizontal:hover:before {
     color: #ffff00;
    }

    a#u3121 {
      min-height: 60px;
  }