.contact-form {
  background-color: #eaeaeb;
  hr.sep {
    display: block;
    width: 15%;
    margin: 1em auto;
    border: 1px solid #c5a47e;
  }
  h3 {
    text-align: center;
  }
  input.form-control {
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid #999;
    background-color: transparent;
    background: transparent;
    margin: 0;
  }

  textarea.form-control {
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid #999;
    background-color: transparent;
    background: transparent;
    margin: 0;

  }
}
