.logo-container{
  max-width: 100px;
  max-height: 100px;
  border-radius: 50px;
  background-color: #00000008;
  .logo{
    width: 100px;
    background-size: contain;
    height: 100px;
    background-repeat: no-repeat;
    background-position: center;
  }
}
