.leaflet-container {
  height: 500px;
  width: 100%;
}
.pop-over-div {
  position: absolute;
  top: -34px;
  width: 150px;
  background-color: white;
  left: -75px;
}
.pop-over-arrow {
  position: absolute;
  font-size: 20px;
  left: 50%;
  bottom: -10px;
  color: white;
}

